<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="Nuget" value="https://api.nuget.org/v3/index.json" />
		<add key="Devops" value="https://devops.soft-max.com/api/v4/projects/9/packages/nuget/index.json" />
	</packageSources> 
	<packageSourceCredentials>
		<Devops>
			<add key="Username" value="noob" />
			<add key="ClearTextPassword" value="glpat-clrge4zvfh7PPESBkSBxZW86MQp1OnkH.01.0w1ivti9m" />
		</Devops>
	</packageSourceCredentials>
	<fallbackPackageFolders>
		<clear />
	</fallbackPackageFolders>
</configuration>
